# IGNORE node_modules - since it is recreated for everyone by just writing npm install
# and its big and can differ for some modules between operating systems
node_modules

# IGNORE db-credentials since it's a MAJOR security risk to have them public on git-hub!
db.js

# Ignore folders with binary data (pdf, mp3, jpg, ppt etc)
# for example:

warehouse/*
!warehouse/.gitkeep

backend/pptBackend/ppt_error_logs/*
!backend/pptBackend/ppt_error_logs/.gitkeep


# Ignore specials system files of no use for example .DS_Store on mac
.DS_Store

metadata.json

funderingar.md